@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Asap|Bitter|Bree+Serif|Cabin|Maitree|Montserrat|Nunito|PT+Serif|Poppins|Sumana');

body {
  /*font-family: 'Montserrat', sans-serif;
font-family: 'Sumana', serif;
font-family: 'PT Serif', serif;
font-family: 'Bitter', serif;
font-family: 'Maitree', serif;
font-family: 'Cabin', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Bree Serif', serif;
font-family: 'Asap', sans-serif;*/
}
.App {
  text-align: center;
}
.brand-heading{
  font-size: 1rem;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
nav.navbar.navbar-custom.navbar-fixed-top {
  background-color: #0057b8;
}
.navbar-header{
  width:100%;
}
.navbar-items{
  padding-left: 70%;
}
li.nav-item{
  float:left;
}
ul.nav.navbar-nav {

}

.App-intro {
  font-size: large;
}
.intro{
  min-height:100vh;
}
.arrow {
  position: absolute;
  bottom: -70%;
  left: 50%;
  padding-bottom: 40px;
  margin-left:-20px;
  width: 40px;
  height: 40px;
  background-image: url('http://nlitenmusic.neocities.org/nliten-music/images/white-arrow-down.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bounce {
  animation: bounce 2s infinite;
}
.navbar-custom{
  background-color:transparent;
}
.download-section{
  min-height:90vh;
}
.footer{
  padding: 20px 0px;
}
.copyright{
  font-size:10px;
}
section#about{
  /*min-height:100vh;*/
  padding: 150px 100px 100px 100px;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
	40% {
    transform:translateY(-30px);
  }
	60% {
    transform:translateY(-15px);
  }
}

@media (max-width: 767px) {
  .arrow {
    position: absolute;
    bottom: -115%;
    left: 50%;
    padding-bottom: 40px;
    margin-left:-20px;
    width: 40px;
    height: 40px;
    background-image: url('http://nlitenmusic.neocities.org/nliten-music/images/white-arrow-down.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  section#about{
    /*min-height:100vh;*/
    padding: 75px 25px 25px 25px;
  }
}

@media (max-width: 1000px) {
  .navbar-items{
    padding-left: 15%;
    float:left;
  }
}
@media (max-width: 615px) {
  .navbar-items{
    padding-left: 5%;
    float:left;
  }
}
